<a href="https://colab.research.google.com/github/SantiagoAzofeifa/AnalisisDatos/blob/main/Laboratorio2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv('/content/casasboston.csv')
data=pd.DataFrame(df)
print(data)
print(data.AGE)
dataresultado = data.loc[(data['AGE']==65.2)]
print(dataresultado)

           TOWN      LON      LAT  MEDV     CRIM    ZN  INDUS  CHAS    NOX  \
0        Nahant -70.9550  42.2550  24.0  0.00632  18.0   2.31     0  0.538
1    Swampscott -70.9500  42.2875  21.6  0.02731   0.0   7.07     0  0.469
2    Swampscott -70.9360  42.2830  34.7  0.02729   0.0   7.07     0  0.469
3    Marblehead -70.9280  42.2930  33.4  0.03237   0.0   2.18     0  0.458
4    Marblehead -70.9220  42.2980  36.2  0.06905   0.0   2.18     0  0.458
..          ...      ...      ...   ...      ...   ...    ...   ...    ...
501    Winthrop -70.9860  42.2312  22.4  0.06263   0.0  11.93     0  0.573
502    Winthrop -70.9910  42.2275  20.6  0.04527   0.0  11.93     0  0.573
503    Winthrop -70.9948  42.2260  23.9  0.06076   0.0  11.93     0  0.573
504    Winthrop -70.9875  42.2240  22.0  0.10959   0.0  11.93     0  0.573
505    Winthrop -70.9825  42.2210  19.0  0.04741   0.0  11.93     0  0.573

        RM   AGE     DIS  RAD  TAX  PTRATIO       B  LSTAT
0    6.575  65.2  4.0900    1  296     15.3  396.90   4.98
1    6.421  78.9  4.9671    2  242     17.8  396.90   9.14
2    7.185  61.1  4.9671    2  242     17.8  392.83   4.03
3    6.998  45.8  6.0622    3  222     18.7  394.63   2.94
4    7.147  54.2  6.0622    3  222     18.7  396.90   5.33
..     ...   ...     ...  ...  ...      ...     ...    ...
501  6.593  69.1  2.4786    1  273     21.0  391.99   9.67
502  6.120  76.7  2.2875    1  273     21.0  396.90   9.08
503  6.976  91.0  2.1675    1  273     21.0  396.90   5.64
504  6.794  89.3  2.3889    1  273     21.0  393.45   6.48
505  6.030  80.8  2.5050    1  273     21.0  396.90   7.88

[506 rows x 17 columns]
0      65.2
1      78.9
2      61.1
3      45.8
4      54.2
       ...
501    69.1
502    76.7
503    91.0
504    89.3
505    80.8
Name: AGE, Length: 506, dtype: float64
       TOWN     LON      LAT  MEDV     CRIM    ZN  INDUS  CHAS    NOX     RM  \
0    Nahant -70.955  42.2550  24.0  0.00632  18.0   2.31     0  0.538  6.575
119  Malden -71.019  42.2605  19.3  0.14476   0.0  10.01     0  0.547  5.731

      AGE     DIS  RAD  TAX  PTRATIO      B  LSTAT
0    65.2  4.0900    1  296     15.3  396.9   4.98
119  65.2  2.7592    6  432     17.8  391.5  13.61

In [ ]:
dataresultado = data.loc[(data['TOWN']=="Winthrop")]
print(dataresultado)

#1 Seleccionar TOWN
#2 TOWN: CRIM aquellos que son superiores a 0.50
#3 Sacar el promedio de la edad y usar la funcion promedio
#4 Imprimir un indice y una edad, retorna los puntos correspondientes
#5 Ordenamiento por CRIM //sort para el ordenamiento

         TOWN      LON      LAT  MEDV     CRIM   ZN  INDUS  CHAS    NOX  \
501  Winthrop -70.9860  42.2312  22.4  0.06263  0.0  11.93     0  0.573
502  Winthrop -70.9910  42.2275  20.6  0.04527  0.0  11.93     0  0.573
503  Winthrop -70.9948  42.2260  23.9  0.06076  0.0  11.93     0  0.573
504  Winthrop -70.9875  42.2240  22.0  0.10959  0.0  11.93     0  0.573
505  Winthrop -70.9825  42.2210  19.0  0.04741  0.0  11.93     0  0.573

        RM   AGE     DIS  RAD  TAX  PTRATIO       B  LSTAT
501  6.593  69.1  2.4786    1  273     21.0  391.99   9.67
502  6.120  76.7  2.2875    1  273     21.0  396.90   9.08
503  6.976  91.0  2.1675    1  273     21.0  396.90   5.64
504  6.794  89.3  2.3889    1  273     21.0  393.45   6.48
505  6.030  80.8  2.5050    1  273     21.0  396.90   7.88

In [ ]:
dataresultado = data.loc[(data['TOWN']=="Marblehead")]
if
print(dataresultado)

         TOWN      LON     LAT  MEDV     CRIM   ZN  INDUS  CHAS    NOX     RM  \
3  Marblehead -70.9280  42.293  33.4  0.03237  0.0   2.18     0  0.458  6.998
4  Marblehead -70.9220  42.298  36.2  0.06905  0.0   2.18     0  0.458  7.147
5  Marblehead -70.9165  42.304  28.7  0.02985  0.0   2.18     0  0.458  6.430

    AGE     DIS  RAD  TAX  PTRATIO       B  LSTAT
3  45.8  6.0622    3  222     18.7  394.63   2.94
4  54.2  6.0622    3  222     18.7  396.90   5.33
5  58.7  6.0622    3  222     18.7  394.12   5.21

In [ ]:
#LABORATORIO #2